:root {
  --parent-width:800px;
}

body {
  background-color: #f8f8f8;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  line-height: 1.24;
}

header {
  display: inline-block;
  width: var(--parent-width);
  min-height: 50px; /* [optional prop] : minimum the highest element in this case logo height ^(see below) */
  margin-left: calc((100% - 800px) / 2);
  margin-top: 20px;
}

header > img {
  float: left;
  height: 50px; /* ^specified logo height*/
}

nav {
  float: right;
  margin-top: 10px; /* [optional, step2] */
}

a {
  float: left; /* [optional, step1] : meant for controlling as solely one entity */
  padding: 5px 15px;
  color: #9d9d9d;
  font-size: 20px;
  line-height: 20px; /* [optional, important step1.1] */
  text-decoration: none;
  border: 2px solid transparent; /* if rendered with gap, remove float prop in this block */
}

a:last-of-type {
  border-color: #9d9d9d;
  margin-left: 30px;
  padding: 5px 15px;
  border-radius: 16px;
}

main {
  display: inline-block;
  width: var(--parent-width);
  margin-left: calc((100% - var(--parent-width)) / 2);
  margin-top:70px;
}

main > div {
  width: 40%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 70px;
  color: #9d9d9d;
}

h1 {
  /* display block = **
  **display: inline-block;
  **width: 100%;    */
  margin: 0;
  font-size: 100px;
  line-height: 124px; 

}

p {
  /* display block = **
  **display: inline-block;
  **width: 100%;    */
  font-size: 28px;
  line-height: 35px; 
}

main > img {
  width: 50%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}